    <!-- ISO Code -->

    <div class="pt-6 sm:px-6 lg:px-8 pb-5">
      <div>
        <h1 class="inline-block text-3xl font-extrabold text-gray-900 tracking-tight">Manage ISO code</h1>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <!-- User Assignment -->
              <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                  <td class="px-2 py-4 whitespace-nowrap">
                    <label for="state" class="block text-sm font-medium text-gray-700">Input the alloted ISO code for
                      the whole department </label>
                    <input type="text" name="state" id="state"
                      class="w-3/6 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md">
                    <p class="text-xs font-light">The ISO codes will be distributed to the entire program.</p>
                  </td>
                  <td class="pt-9 px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <button class="block h-8 px-4 text-white transition-colors duration-150 bg-green-600 
                      rounded-full focus:shadow-outline hover:bg-green-700">Assign</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>